:root {
  /* Base transparente (glass effect) */
  --glass-white: rgba(255, 255, 255, 0.493);
  --glass-white-strong: rgba(255, 255, 255, 0.651);
  --glass-white-light: rgba(255, 255, 255, 0.4);

  /* === gradiente glass === */
  --gradient-glass-soft: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(111, 160, 214, 0.25),
    rgba(111, 161, 214, 0.089)
  );

  /* Azul do fundo com transparência */
  --glass-blue: rgba(111, 160, 214, 0.35);
  --glass-blue-strong: rgba(111, 160, 214, 0.55);

  /* Glow quente com transparência */
  --glass-gold: rgba(242, 214, 162, 0.35);

  /* Bordas suaves */
  --glass-border: rgba(255, 255, 255, 0.3);

  /* Sombra leve */
  --shadow-color: rgba(34, 64, 97, 0.12);

  /* ===== TEXTOS ===== */
  --text-primary: #30577e;        /* título forte */
  --text-primary-neg: #fff;       /* titulo parte escura */
  --text-secondary: #6b7c93;      /* texto padrão */
  --orange: #f5a623;
  --green: #459c45;
  --yellow: #969c45;
  --red: #9c4545;

  /* ===== FONTE ===== */
  --font-primary: 'Inter', sans-serif
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    min-height: 100vh;
}

/* .wrapper {
    width: 85%;
    margin: 40px auto;
} */

header {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin: 0;
    margin-bottom: 20px;
    padding: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 15px var(--shadow-color);
}

.logo {
    float: left;
}

.nome {
    font-size: 46px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    font-family: var(--font-primary);
    font-weight: 900;
    color:  var(--text-primary);
}

.nome_laranja {
    color: var(--orange);
    font-weight: 400;
}

nav {
    float: right;
}

.nav_links {
    list-style-type: none;
    margin: 0;
    padding: 0
}

.nav_links li {
    display: inline-block;
    margin-left: 20px;
}

.nav_links li a {
    color: #30577e;
    text-decoration: none;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s;
}

.nav_links li a:hover {
    background-color: var(--gradient-glass-soft);
    box-shadow: 2px 2px 15px var(--shadow-color);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: auto;
    width: 100%;
    height: 80vh;
    background: var(--gradient-glass-soft);
    justify-content: space-between;
    padding-top: 2%;
    border-radius: 0 0 10px 10px;
}

.sec1, .sec2, .sec3 {
    background-color: var(--glass-white-strong);
    flex: 1;
    min-height: 400px;
    padding: 2%;
    border-radius: 5px;
    font-family: var(--font-primary);
    font-weight: 100;
    box-shadow: 2px 2px 15px var(--shadow-color);
}

.pesquisa {
    margin-bottom: 40px;
}

.consulta_titulo {
    color: var(--text-primary);
    font-size: 24px;
    font-family: var(--font-primary);
    font-weight: 600;
    margin-bottom: 10px;
}

.caixa_pesquisa {
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 15px var(--shadow-color);
    padding: 10px;
}

.botao_pesquisa {
    background-color: var(--glass-white);
    border: none;
    box-shadow: 2px 2px 15px var(--shadow-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.4s;
}

.botao_pesquisa:hover {
   cursor: pointer;
   background-color: bisque;
}

.autocomplete {
  position: relative;
  width: 300px;
  margin: 2vh;
}

#inputProduto {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #e9edf3;
  outline: none;
}

.sugestoes {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  display: none;
  z-index: 1000;
}

.sugestao-item {
  padding: 10px;
  cursor: pointer;
}

.sugestao-item:hover {
  background: #f0f0f0;
}

.consulta_resultado_titulo {
    color: var(--text-primary);
    font-size: 24px;
    font-family: var(--font-primary);
    font-weight: 600;
    margin-bottom: 10px;
}
